<!DOCTYPE html lang="en">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Free URL shortener. Non commercial training project">
    <meta name="author" content="Igor Yancher">   
    <title>Shortka - free URL shortener</title>
    <link rel="icon" href="{% static "/images/favicon.ico" %}"/>
    <link href="{% static "/css/style.css" %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="{% static "/js/script.js" %}"></script>
    
    </head>
    <body>
        
        <div class="container-fluid">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
              <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img src="{% static "/images/logo.png" %}" style="width:200px" />
                
              </a>
        
              <ul class="my-auto nav nav-pills header-font">
                <li class="nav-item header-font"><a href="/about" class="text-dark nav-link">ABOUT</a></li>
                <li class="nav-item header-font"><a href="/why-shortka" class="nav-link">WHY SHORTKA?</a></li>
                <li class="nav-item header-font"><a href="/pricing" class="nav-link">PRICING</a></li>
                <li class="nav-item header-font"><a href="/terms" class="nav-link">TERMS AND CONDITIONS</a></li>
                
              </ul>
            </header>
        </div>

        <div class="container h-100 py-5 my-5">

            <div class="px-4 py-5 mt-5 text-center">
                
                <div class="col-lg-8 mx-auto ">
                  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    
                    <input type='text' placeholder='{{ old_path }}' class='input-text width-40' />
                    <input type='text' class='short-url font-weight-light' id="myInput" value='http://shortka.com{{ new_path }}'>
                    
                            
 
                    </input>
                        <button onclick="myFunction()" class="input-button px-4 gap-3">Copy</button>

                       

                </div>

                <p class="font-1-2 mt-5"><a href="https://www.buymeacoffee.com/yancherigo3" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-green.png" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;" class="mx-5" ></a></p>
                    
            </div>
        </div>

    </div>

    <div class="container-fluid px-0">
        <div class="align-bottom footer px-5">

        <span class="my-2 align-middle text-white d-block">SHORTKA.COM &copy;2022</span>

        </div>
    </div> 


    </body>
</html>