<!DOCTYPE html lang="en">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Free URL shortener. Non commercial training project">
    <meta name="author" content="Igor Yancher">   
    <title>Shortka - free URL shortener</title>
    <link rel="icon" href="{% static "/images/favicon.ico" %}"/>
    <link href="{% static "/css/style.css" %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    </head>
    <body>
        
        <div class="container-fluid">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
              <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img src="{% static "/images/logo.png" %}" style="width:200px" />
                
              </a>
        
              <ul class="my-auto nav nav-pills header-font">
                <li class="nav-item header-font"><a href="/about" class="text-dark nav-link">ABOUT</a></li>
                <li class="nav-item header-font"><a href="/why-shortka" class="nav-link">WHY SHORTKA?</a></li>
                <li class="nav-item header-font"><a href="/pricing" class="nav-link">PRICING</a></li>
                <li class="nav-item header-font"><a href="/terms" class="nav-link">TERMS AND CONDITIONS</a></li>
                
              </ul>
            </header>
        </div>

        <div class="container py-1 my-1">

            <div class="px-4 py-3 mt-4 text-center">
                
                <div class="col-lg-8 mx-auto ">
                  <h1 class="font-weight-100 pb-2">Why Shortka? Why not?</h1>
                  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    
                    <img src = "{% static "/images/why_not.jpg" %}" />
                    
                  </div>
                 </div>
              </div>
              
          </div>

          <div class="container-fluid px-0">
             <div class="align-bottom footer px-5">
              
                  <span class="my-2 align-middle text-white d-block">SHORTKA.COM &copy;2022</span>
              
             </div>
          </div> 
        

        

 

    </body>
</html>